{% extends "home/base.html" %}

{% block content %}
<p><h1>This is the home page of Django from Iroshan!!</h1>
</p>
<br>
<p>Following pages are available for you.
</p>
<ul>
    <li><p><a href='admin' target="_blank">Admin</a></p></li>
    <li><p><a href='authz'>Authz</a></p></li>
    <li><p><a href='polls'>polls</a></p></li>
    <li><p><a href='tracks'>tracks</a></p></li>
    <li><p><a href='rest'>rest</a></p></li>
    <li><p><a href='views'>views</a></p></li>
    <li><p><a href='getpost'>GET vs POST</a></p></li>
    <li><p><a href='mysess'>Sessions</a></p></li>
    <li><p><a href='autos'>Autos</a></p></li>

</ul>

{% endblock %}