<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Form Validation</title>
</head>
<body>
<tr>
    <th>
        <label for="id_title">Title:</label>
    </th>
    <td>
        <input type="text" name="title" required id="id_title">
    </td>
</tr>
<tr>
    <th>
        <label for="id_mileage">Mileage:</label>
    </th>
    <td>
        <input type="text" name="mileage" required id="id_mileage">
    </td>
</tr>
<tr>
    <th>
        <label for="id_purchase_date">Purchase date:</label>
    </th>
    <td>
        <input type="text" name="purchase_date" required id="id_purchase_date">
    </td>
</tr>
</body>
</html>